*{
    padding: 0;
    margin: 0;
}
.main{
    margin: 0 auto;
}
#n0{
    margin-left: 54px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2;
}
.textview{
    width: 211px;
    height: 30px;
    border-style:solid;
    border-color: red;
    margin-left: 80px;
    background-color: rgb(223, 215, 144);
}
body{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 80px;
    align-items: center;
    color: rgb(192, 38, 17);
    border-style: double;
    border-radius: 15px;
    background-color: rgb(53, 167, 167);
}
button{
    color: rgb(43, 107, 1);
    background-color: rgb(199, 148, 224);
    border-radius: 20px;
}
h1{
    font-style: italic;
    font-family: cursive;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-left: 25px;
}
#icone{
    margin-left: 150px;
    margin-top: 20px;
    border-style: ridge;
    border-color: black;
    font-size: xx-large;
}
table{
    margin-left: 80px;
}
input{
    border-radius: 20px;
    background-color: rgb(96, 165, 119);
    color: rgb(255, 252, 251);
}
#c{
    color: rgb(255, 0, 0);
}
#clear{
    color: orange;
}
#igual{
    color: blue;
}
